.projects-section {
  position: relative;
  min-height: 100vh;
  padding: 140px 20px 100px;
  background:
    linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)),
    url('/projects.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 80px 20px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.projects-title {
  font-family: "Press Start 2P", serif;
  text-align: center;
  font-size: 2rem;
  color: #1e3a8a;
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1100px;
  margin: auto;
}

.project-card {
   font-family: monospace;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: left;
}

.project-card h3 {
  font-size: 1.2rem;
  color: #1e40af;
  margin-bottom: 0.5rem;
}

.project-card p {
  font-size: 1rem;
  color: #475569;
  margin-bottom: 0.5rem;
}

.project-card span {
  display: block;
  font-size: 0.9rem;
  color: #64748b;
  margin-bottom: 1rem;
}

.project-card a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.project-card:hover {
  transform: translateY(-5px);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}